/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-bg);
    --color-primary-variant: var(--color-title);
    --color-accent: var(--color-blue);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-bg: rgb(97, 154, 196);
    --color-title: #2e5684;
    --color-blue: #110f5c;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
    }

  * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }

    h1,
    h2,
    h3,
    p,
    ul {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--color-text);
    }

    button {
        background-color: transparent;
        outline: 0;
        border: 0;
    }

    button:focus {
        outline: 1px solid transparent;
    }

    /* Common */
    .section {
        padding: 4rem;
        text-align: center;
    }

    .max-container {
        max-width: var(--size-max-width);
        margin: auto;
    }

    .title {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .description {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    /* Header */
    .header {
        background-color: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all 300ms ease;
    }

    .header--dark {
        background-color: var(--color-primary-variant);
        box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
    }

    .header__logo {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 8px;
        padding-right: 37rem;
    }

    .header__logo__img {
        width: 36px;
        height: 36px;
    }

    .header__logo__title {
        font-size: 1.8rem;
    }

    .header__toggle {
        display: none;
        color: var(--color-text);
        font-size: 1.5rem;
        position: absolute;
        top: 1.3rem;
        right: 1rem;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        gap: 0 10px;
        font-size: 1.5rem;
    }

    .header_menu__item {
        display: blcok;
    }

    .header__menu__item:hover {
        border-bottom: 1px solid var(--color-accent);
    }

    .header__menu__item.active {
        border: 2px solid var(--color-accent);
        padding: 0.5rem;
        border-radius: 4px;
    }

    /* Home */
    #home {
        position: relative;
        background-color: var(--color-bg);
        color: var(--color-text);
        padding: 5rem 1rem;
        padding-top: 7rem;
        text-align: center;
        font-weight: 700;
    }

    .home__divider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .home__divider svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 61px;
    }
    
    .home__divider .shape-fill {
        fill: #FFFFFF;
    }

    .home__avatar {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        border: 3px solid var(--color-text);
    }
    
    .home__title {
        margin: 1rem 0;
    }

    .home__title--strong {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-accent);
    }

    .home__description {
        font-size: 1.3rem;
    }

    .home__contact {
        display: inline-block;
        background-color: var(--color-accent);
        margin: 2rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        color: var(--color-black);
        border-radius: 4px;
    }

    .home__contact:hover {
        background-color: transparent;
        color: var(--color-text);
        outline: 2px solid var(--color-accent);
    }

/* about */
    .majors {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 2.5rem 0;
    }

    .major {
        padding: 2rem 1.2rem;
        border: 7px solid var(--color-accent);
        border-radius: 1rem;
        margin: 0 0.7rem;
        transition: all 300ms ease;
        cursor: default;
        box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
    }

    .major__title {
        font-size: 1.5rem;
        font-weight:bold
    }

    .major__imagebox {
        display: inline-block;
        height: 50px;
        width: 130px;
    }

    .major__image--1 {
        height: 100%;
        width: 70%;
    }

    .major__image {
        height: 100%;
        width: 100%;
    }

    .major__title__name {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    .major:hover {
        transform: scale(1.1);
    }


    /* skills */
    #skills {
        position: relative;
        background-color: var(--color-primary-variant);
        color: var(--color-text);
    }

    .skills__divider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .skills__divider svg {
        position: relative;
        display: block;
        width: calc(120% + 1.3px);
        height: 44px;
    }
    
    .skills__divider .shape-fill {
        fill: var(--color-primary);
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 3rem;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06), 
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
        0 100px 80px rgba(0, 0, 0, 0.12)
    }

    .skills__title {
        color: var(--color-accent);
        margin: 1rem 0;
        font-size: 1.7rem;
    }

    .skills__each {
        margin: 0.2rem;
        margin-bottom: 0.5rem;
        font-size : 1.5rem;
        color: var(--color-accent);
    }

    .skills__eachitem {
        margin-left: 0.5rem;
        color: white;
    }

    .skills__each__other {
        margin: 0.2rem;
        margin-bottom: 0.5rem;
        font-size : 1.5rem;
    }

    .skills__coding {
        grid-row: span 2;
        padding: 1rem;
        background-color: var(--color-primary);
    }

    .skills__tools {
        padding: 1rem;
    }

    .skills__etc {
        padding: 1rem;
        background-color: var(--color-primary);
        filter: brightness(120%);
    }

    
    /* Work */

    .project__list {
        width: 100%;
    }

    .project {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-top: 3px solid var(--color-accent);
    }

    .category__button {
        color: var(--color-text);
        background-color: var(--color-primary-variant);
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        border: 1px solid;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        justify-content: left;
        margin-bottom: 1rem;
    }
    .category__button:hover {
        background-color: var(--color-text);
        color: var(--color-primary-variant);
    }

    .category__button2 {
        color: var(--color-text);
        background-color: var(--color-primary-variant);
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        border: 1px solid;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        justify-content: left;
        margin-bottom: 1rem;
    }
    .category__button2:hover {
        background-color: var(--color-text);
        color: var(--color-primary-variant);
    }

    .category__button3 {
        color: var(--color-text);
        background-color: var(--color-primary-variant);
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        border: 1px solid;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        justify-content: left;
        margin-bottom: 1rem;
    }
    .category__button3:hover {
        background-color: var(--color-text);
        color: var(--color-primary-variant);
    }

    .category__project__title {
        display: flex;
        justify-content: left;
        margin-bottom: 0.5rem;
    }

    .category__project__content {
        display: flex;
        justify-content: left;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .category__project__img {
        width: 100%;
    }

    /* Arrow up */
    .arrow-up {
        background-color: var(--color-primary);
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        font-size: 3rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
        text-align: center;
        box-shadow: 5px 5px 0px 0px var(--color-accent);
        transition: opacity 300ms ease-in;
        opacity: 0;
    }

    /* Footer */
    #contact {
        position: relative;
        background-color: var(--color-primary);
        color: var(--color-text);
    }

    .contact__divider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .contact__divider svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 56px;
    }
    
    .contact__divider .shape-fill {
        fill: #FFFFFF;
    }

    .contact__links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        padding: 1rem;
    }

    .contact__link {
        transition: color 250ms ease-in;
    }

    .contact__link:hover {
        color: var(--color-accent);
    }

    @media screen and (max-width:768px) {
        .section {
            padding: 4rem 2rem;
        }

        .title {
            font-size: 2rem;
        }

        .description {
            font-size: 1rem;
        }

        .header {
            flex-direction: column;
            align-items: start;
            padding: 1rem 1rem;
            
            background-color: var(--color-primary);
        }

        
        .header__logo {
            padding-right: 20rem;
        }

        .header__logo__title {
            font-size: 1rem;
        }

        .header__nav {
            width: 100%;
        }

        .header__toggle {
            display: block;
        }

        .header__menu {
            display: none;
            flex-direction: column;
            text-align: center;
            padding: 1rem 4rem;
            gap: 1rem;
        }

        .header__menu.open {
            display: flex;
        }

        #home {
            padding-bottom: 3rem;
        }

        .home__title {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        .home__description {
            font-size: 1rem;
        }

        .majors {
            flex-direction: column;
            align-items: center;

        }

        .major {
            max-width: 25rem;
        }

        .skills {
            grid-template-columns: 1fr;
        }

        .category__content{
            display: none;
        }

        .category__content.open {
            display: flex;
            flex-direction: column;
        }

        .category__content2{
            display: none;
        }

        .category__content2.open {
            display: flex;
            flex-direction: column;
        }

        .category__content3{
            display: none;
        }

        .category__content3.open {
            display: flex;
            flex-direction: column;
        }

        .arrow-up {
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            bottom: 1.5rem;
            right: 1.5rem;
        }
    }

    